extends ./layout.jade
include fields/fields.jade
block menu
	div.pure-menu.pure-menu-open
		a.pure-menu-heading(href="https://wufill.herokuapp.com") Wufill
		ul
			li 
				a(href="/start") Start Over
			li.pure-menu-selected 
				a(href="#") Prefilling
block content
	div.header
		h1 Prefill your form
		h3 The symbols '#', '&', '+', and '//' will be removed since they break URL Modification
		img.made(src='/made-sm.png')
	div.content
		div.pure-g
			div.pure-u-1-2
				h2.content-subhead Subdomain: #{sub}
			div.pure-u-1-2
				h2.content-subhead Form ID: #{form}
		form.pure-form.pure-form-aligned(enctype="application/x-www-form-urlencoded", action="/results", method="post")
			input(type='hidden', name='subdomain', value=sub)
			input(type='hidden', name='formID', value=form)
			fieldset
				each field in fields
					div.pure-control-group
						if field.Title === "Entry Id" || field.Title === "Created By" || field.Title === "Updated By" || field.Title === "Date Created" || field.Title === "Last Updated"
						else if field.Type === "text"
							+text(field.ID, field.Title)
						else if field.Type === "number"
							mixin number(field.ID, field.Title)
						else if field.Type === "textarea"
							mixin paragraph(field.ID, field.Title)
						else if field.Type === "checkbox"
							mixin checkbox(field.ID, field.Title, field.SubFields)
						else if field.Type === "radio"
							mixin multiplechoice(field.ID, field.Title, field.Choices)
						else if field.Type === "select"
							mixin dropdown(field.ID, field.Title, field.Choices)
						else if field.Type === "shortname"
							mixin name(field.ID, field.Title, field.Choices)
						else if field.Type === "file"
							//+file(field.ID, field.Title)
						else if field.Type === "address"
							+address(field.ID, field.Title, field.SubFields)
						else if field.Type === "date"
							+date(field.ID, field.Title)
						else if field.Type === "email"
							+email(field.ID, field.Title)
						else if field.Type === "time"
							+time(field.ID, field.Title)
						else if field.Type === "phone"
							+phone(field.ID, field.Title)
						else if field.Type === "url"
							+website(field.ID, field.Title)
						else if field.Type === "money"
							+price(field.ID, field.Title)
						else if field.Type === "likert"
							//+likert(field.ID, field.Title)
						else if field.Type === "rating"
							+rating(field.ID, field.Title)
				br
				div.pure-control-group
					label(for='submit')		
					input.pure-button(name="submit" type='submit', value='Submit')