extends layout

block content
	h1 Wufill
	div 
		form#formStart(name="startform", action="/rebuild", method="post")
			div.input
				label(for="formID") Form ID:
				input(type="text", name="formID")
			div.input
				label(for="apiKey") API Key :
				input(type="text", name="apiKey")
			div.submit
				input(type="submit", value="Submit")