extends layout
block menu
	div.pure-menu.pure-menu-open
		a.pure-menu-heading(href="https://wufill.herokuapp.com") Wufill
		ul
			li 
				a(href="#") Start
block content
	div.header
		h1  Wufill
		h3 Prefill your Wufoo froms
	div.content
		h2.content-subhead Enter your form link and API Key
		form.pure-form.pure-form-stacked(name="startform", action="/rebuild", method="post")
			fieldset
				label(for="formID") Form ID:
				input(type="text", name="formID")

				label(for="apiKey") API Key :
				input(type="text", name="apiKey")

				input.pure-button(type="submit", value="Submit")