extends layout
block menu
	div.pure-menu.pure-menu-open
		a.pure-menu-heading(href="https://wufill.herokuapp.com") Wufill
		ul
			li.pure-menu-selected 
				a(href="/start") Start
			//- li 
			//- 	form(id="quickForm" name="quickForm", action="/rebuild", method="post")
			//- 		input(type='hidden', name='apiKey', value='AOI6-LFKL-VM1Q-IEX9')
			//- 		input(type='hidden', name='formID', value='https://fishbowl.wufoo.com/forms/web-hook-example/')
			//- 		a(href="#" onclick="document.getElementById('quickForm').submit();") Example
block content
	div.header
		h1  Wufill
			img.made(src='/made-sm.png')
		h3 Prefill your Wufoo forms
	div.content
		div.pure-g
			div.pure-u-2-5
				if tryFailed === true
					h2.content-subhead Something wasn't right, please try again
				else if tryFailed === false
					h2.content-subhead Enter your form's URL and your Wufoo login info
				form.pure-form.pure-form-stacked(name="startform", action="/rebuild", method="post")
					fieldset
						label(for="formID") Form URL:
						input(type="text", name="formID")

						label(for="email") Email :
						input(type="email", name="email")

						label(for="password") Password :
						input(type="password", name="password")
						br
						input.pure-button(type="submit", value="Submit")
			div.pure-u-1-5
			div.pure-u-2-5.sidebar
				h2.content-subhead Instructions
				h4 1. Fill in your Form URL and Wufoo login
				p.instruct Just copy your full form link into the Form URL box.
				h4 2. Add the values you want to prefill
				p.instruct Go ahead, type away. Pretend it's your Wufoo form
				h4 3. Grab the modified URL 
				p.instruct Paste it wherever you need
				