extends layout

block content
	div.header
		h1 Start Wufilling!
	div.content
		h2.content-subhead Just paste in your form link and your API Key
		form.pure-form.pure-form-stacked(name="startform", action="/rebuild", method="post")
			fieldset
				label(for="formID") Form ID:
				input(type="text", name="formID")

				label(for="apiKey") API Key :
				input(type="text", name="apiKey")

				input.pure-button(type="submit", value="Submit")