body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #DC4945;
  color: #ffffff;
  margin: 0px;
}

a {
  color: #00B7FF;
}
div,
div.input{
	padding-bottom: 5px;
}
h1#banner{
	width: 100%;
	text-align: center;
}
div#left, div#right{
	width: 10%;
}
div#form{
	width: 80%;
	display: inline-block;
	padding: 10px;
	margin:10px;
	background-color: #DC4945;
	padding-left: 30px;
}
div#left{
	float: left;
}
div#right{
	float: right;
}

div label, div.input label{
	padding-right: 10px;
}

input.submit{
	padding-top: 20px;
	margin-left: 50%;
}